<p-toast></p-toast>
<p-card header="Liste des projets" styleClass="m-5">
  <div class="card">
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <button pButton pRipple label="Nouveau projet" icon="pi pi-plus" class="p-button-success mr-4" (click)="newProjet()"></button>
      </ng-template>
      <ng-template pTemplate="right">
        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Rechercher..." />
      </ng-template>
    </p-toolbar>

    <p-table #dt [value]="projects" [responsive]="true" [rows]="5" [paginator]="true" [globalFilterFields]="['nom', 'id']" [rowHover]="true" dataKey="id"
             currentPageReportTemplate="{last} sur {totalRecords} entrées" [showCurrentPageReport]="true">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name">Nom</th>
          <th pSortableColumn="price">Etat</th>
          <th pSortableColumn="category">Pays</th>
          <th pSortableColumn="name">Region</th>
          <th pSortableColumn="price">Superficie</th>
          <th pSortableColumn="category">Localisation</th>
          <th pSortableColumn="name">Date de prise de contact</th>
          <th pSortableColumn="name">Date de semis</th>
          <th pSortableColumn="price">Date anticipée de recolte</th>
          <th pSortableColumn="category">Agriculteur</th>
          <th pSortableColumn="name">Plante</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-agri>
        <tr>
          <td>{{agri.nom}}</td>
          <td>{{agri.etat}}</td>
          <td>{{agri.pays}}</td>
          <td>{{agri.region}}</td>
          <td>{{agri.superficie}}</td>
          <td>{{agri.localisation}}</td>
          <td>{{agri.datecontact | date : 'shortDate'}}</td>
          <td>{{agri.datesemi | date : 'shortDate'}}</td>
          <td>{{agri.dateanticipederecolte | date : 'shortDate'}}</td>
          <td>{{getAgriculteur(agri.agriculteur)}}</td>
          <td>{{getPlante(agri.plante)}}</td>
          <td>
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-4" (click)="editProject(agri)"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProject(agri)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-dialog [(visible)]="openDialog" [responsive]="true" [style]="{width: '450px'}" header="Nouveau projet" [modal]="true" styleClass="p-fluid">
    <form [formGroup]="formGroup" (ngSubmit)="save()">
      <div class="p-field mb-2">
        <label for="name">Nom</label>
        <input type="text" pInputText id="name" formControlName="nom" />
      </div>
      <div class="p-field mb-2">
        <label for="etat">Etat</label>
        <input type="text" id="etat" pInputText formControlName="etat" />
      </div>
      <div class="p-field mb-2">
        <label for="pays">Pays</label>
        <input type="text" id="pays" pInputText formControlName="pays" />
      </div>
      <div class="p-field mb-2">
        <label for="region">Region</label>
        <input type="text" id="region" pInputText formControlName="region" />
      </div>
      <div class="p-field mb-2">
        <label for="superficie">Superficie</label>
        <input type="number" id="superficie" pInputText formControlName="superficie" />
      </div>
      <div class="p-field mb-2">
        <label for="localisation">Localisation</label>
        <input type="text" id="localisation" pInputText formControlName="localisation" />
      </div>
      <div class="p-field mb-2">
        <label for="datecontact">Date de prise de contact</label>
        <p-calendar id="datecontact" formControlName="datecontact"></p-calendar>
      </div>
      <div  class="p-field mb-2">
        <label for="datesemis">Date de semis</label>
        <p-calendar id="datesemis" formControlName="datesemis"></p-calendar>
      </div>
      <div  class="p-field mb-2">
        <label for="dateanticiperecolte">Date anticipée de recolte</label>
        <p-calendar id="dateanticiperecolte" formControlName="dateanticiperecolte"></p-calendar>
      </div>
      <div class="p-field mb-2">
        <label for="agri">Agriculteur</label>
        <p-dropdown id="agri" [options]="agriculteurs" optionLabel="nom" optionValue="id" formControlName="agriculteur"></p-dropdown>
      </div>
      <div class="p-field mb-2">
        <label for="plante">Plante</label>
        <p-dropdown id="plante" [options]="plantes" optionLabel="nom" optionValue="id" formControlName="plante"></p-dropdown>
      </div>
      <div style="display: flex; flex-direction: row; justify-content: space-between">
        <button pButton type="submit" pRipple label="Enregistrer" icon="pi pi-check" class="p-button-text" [disabled]="formGroup.invalid"></button>
      </div>
    </form>
  </p-dialog>

  <p-dialog [(visible)]="edit" [responsive]="true" [style]="{width: '450px'}" header="Modifier ce projet" [modal]="true" styleClass="p-fluid">
    <form [formGroup]="editFormGroup" (ngSubmit)="update()">
      <div class="p-field mb-2">
        <label for="name">Nom</label>
        <input type="text" pInputText id="name" formControlName="nom" />
      </div>
      <div class="p-field mb-2">
        <label for="etat">Etat</label>
        <input type="text" id="etat" pInputText formControlName="etat" />
      </div>
      <div class="p-field mb-2">
        <label for="pays">Pays</label>
        <input type="text" id="pays" pInputText formControlName="pays" />
      </div>
      <div class="p-field mb-2">
        <label for="region">Region</label>
        <input type="text" id="region" pInputText formControlName="region" />
      </div>
      <div class="p-field mb-2">
        <label for="superficie">Superficie</label>
        <input type="number" id="superficie" pInputText formControlName="superficie" />
      </div>
      <div class="p-field mb-2">
        <label for="localisation">Localisation</label>
        <input type="text" id="localisation" pInputText formControlName="localisation" />
      </div>
      <div class="p-field mb-2">
        <label for="datec">Date de prise de contact</label>
        <p-calendar id="datec" formControlName="datecontact"></p-calendar>
      </div>
      <div  class="p-field mb-2">
        <label for="dates">Date de semis</label>
        <p-calendar id="dates" formControlName="datesemis"></p-calendar>
      </div>
      <div  class="p-field mb-2">
        <label for="dater">Date anticipée de recolte</label>
        <p-calendar id="dater" formControlName="dateanticiperecolte"></p-calendar>
      </div>
      <div class="p-field mb-2">
        <label for="agri">Agriculteur</label>
        <p-dropdown id="agri" [options]="agriculteurs" optionLabel="nom" optionValue="id" formControlName="agriculteur"></p-dropdown>
      </div>
      <div class="p-field mb-2">
        <label for="plante">Plante</label>
        <p-dropdown id="plante" [options]="plantes" optionLabel="nom" optionValue="id" formControlName="plante"></p-dropdown>
      </div>
      <div>
        <button pButton type="submit" style="" pRipple label="Enregistrer" icon="pi pi-check" class="p-button-text" [disabled]="editFormGroup.invalid"></button>
      </div>
    </form>
  </p-dialog>
</p-card>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
